@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;

  /* Main color Palette */
  --color-primary: #592C80;           /* Viola scuro - navbar, fondi */
  --color-secondary: #7F3FBF;         /* Viola medio - pulsanti, card */
  --color-light: #A266FF;             /* Viola chiaro - hover soft, border */
  --color-accent: #FF4C4C;            /* Rosso acceso - CTA, errori */
  --color-background: #1E102A;        /* Quasi nero - sfondo generale */

  /* Texts */
  --color-text-primary: #FFFFFF;      /* Bianco - testi principali */
  --color-text-secondary: #D1B2FF;    /* Viola chiarissimo - testi secondari/disabilitati */
  --color-text-active: #FFD700;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
  font-size: 16px;
}

body{
  background-image: linear-gradient(to bottom,var(--color-background), var(--color-light))  ;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
}
